*.a
*.o
*.lo
*~
*.swp
*.stdout
libtool
lib/stamp-h1
lib/.deps/
lib/.libs/
lib/libft.la
lib/ftconfig.h
lib/ftconfig.h.in
lib/getdate.c
src/.deps/
src/aclyacc.h
src/aclyacc.c
src/flow-receive
src/flow-send
src/flow-stat
src/flow-tag
src/flow-xlate
src/flow-print
src/flow-nfilter
src/flow-merge
src/flow-mask
src/flow-import
src/flow-header
src/flow-gen
src/flow-filter
src/flow-fanout
src/flow-export
src/flow-expire
src/flow-dscan
src/flow-cat
src/flow-capture
src/flow-split
src/flow-report
autom4te.cache/
config.log
config.status
Makefile
bin/Makefile
lib/Makefile
configs/Makefile
docs/Makefile
utils/Makefile
src/Makefile
etc/cfg/
